In [1]:
import csv
import pandas as pd

In [2]:
df=pd.read_csv('Resources/climate_df.csv')

In [3]:
df.head()

,Unnamed: 0,EVENT_ID,STATE,YEAR,MONTH_NAME,EVENT_TYPE,FLOOD_CAUSE,CATEGORY,EVENT_NARRATIVE
0,0,254780,NEW HAMPSHIRE,2010,July,Heat,NaN,NaN,Heat index values at the Nashua Boire Field (K...
1,1,211550,NEW HAMPSHIRE,2010,January,Heavy Snow,NaN,NaN,Four to eight inches fell across eastern Hills...
2,2,260014,NEW HAMPSHIRE,2010,October,Strong Wind,NaN,NaN,"In Manchester, firefighters responded to about..."
3,3,254779,NEW HAMPSHIRE,2010,July,Heat,NaN,NaN,Heat index values at the Manchester Airport (K...
4,4,273769,NEW HAMPSHIRE,2010,December,Winter Storm,NaN,NaN,Snowfall totals of 6 to 10 inches were observe...

In [4]:
#drop two additional rows and unnamed as they have nothing to do with our question
df = df.drop(['Unnamed: 0', 'FLOOD_CAUSE', 'CATEGORY'], axis=1)
df.head()

,EVENT_ID,STATE,YEAR,MONTH_NAME,EVENT_TYPE,EVENT_NARRATIVE
0,254780,NEW HAMPSHIRE,2010,July,Heat,Heat index values at the Nashua Boire Field (K...
1,211550,NEW HAMPSHIRE,2010,January,Heavy Snow,Four to eight inches fell across eastern Hills...
2,260014,NEW HAMPSHIRE,2010,October,Strong Wind,"In Manchester, firefighters responded to about..."
3,254779,NEW HAMPSHIRE,2010,July,Heat,Heat index values at the Manchester Airport (K...
4,273769,NEW HAMPSHIRE,2010,December,Winter Storm,Snowfall totals of 6 to 10 inches were observe...

In [5]:
#check for null values
df.isnull().sum()

EVENT_ID                0
STATE                   0
YEAR                    0
MONTH_NAME              0
EVENT_TYPE              0
EVENT_NARRATIVE    182826
dtype: int64

In [6]:
#fill event_narrative null values with "no event description"
df['EVENT_NARRATIVE'] =  df['EVENT_NARRATIVE'].fillna('No event description')
df.isnull().sum()

EVENT_ID           0
STATE              0
YEAR               0
MONTH_NAME         0
EVENT_TYPE         0
EVENT_NARRATIVE    0
dtype: int64

In [7]:
#create a new copy of cleaned data for later use
df.to_csv('Resources/cleaneddata.csv')

In [9]:
#slice first 1000 entries for sample data for model
sliced = df.iloc[0:999]
sliced.head()

,EVENT_ID,STATE,YEAR,MONTH_NAME,EVENT_TYPE,EVENT_NARRATIVE
0,254780,NEW HAMPSHIRE,2010,July,Heat,Heat index values at the Nashua Boire Field (K...
1,211550,NEW HAMPSHIRE,2010,January,Heavy Snow,Four to eight inches fell across eastern Hills...
2,260014,NEW HAMPSHIRE,2010,October,Strong Wind,"In Manchester, firefighters responded to about..."
3,254779,NEW HAMPSHIRE,2010,July,Heat,Heat index values at the Manchester Airport (K...
4,273769,NEW HAMPSHIRE,2010,December,Winter Storm,Snowfall totals of 6 to 10 inches were observe...

In [10]:
#create a csv copy of the sliced df for sample data
sliced.to_csv('Resources/sampledata.csv')

In [13]:
#making a change to the sliced data to give month_name a corresponding number
# Create a dictionary using which we will remap the values
dict = {'January' : 1, 'February' : 2, 'March' : 3, 'April' : 4, 'May' : 5, 'June' : 6, 'July' : 7, 'August' : 8, 'September' : 9, 'October' : 10, 'November' : 11, 'December' : 12}
  
# Remap the values of the dataframe
sliced['MONTH_NAME']= sliced['MONTH_NAME'].map(dict)
  
sliced.head()

C:\Users\victo\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,EVENT_ID,STATE,YEAR,MONTH_NAME,EVENT_TYPE,EVENT_NARRATIVE
0,254780,NEW HAMPSHIRE,2010,7,Heat,Heat index values at the Nashua Boire Field (K...
1,211550,NEW HAMPSHIRE,2010,1,Heavy Snow,Four to eight inches fell across eastern Hills...
2,260014,NEW HAMPSHIRE,2010,10,Strong Wind,"In Manchester, firefighters responded to about..."
3,254779,NEW HAMPSHIRE,2010,7,Heat,Heat index values at the Manchester Airport (K...
4,273769,NEW HAMPSHIRE,2010,12,Winter Storm,Snowfall totals of 6 to 10 inches were observe...

In [14]:
#rename month_name to a more appropriate name
sliced.rename(columns = {'MONTH_NAME':'MONTH'}, inplace = True)
sliced.head()

C:\Users\victo\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,EVENT_ID,STATE,YEAR,MONTH,EVENT_TYPE,EVENT_NARRATIVE
0,254780,NEW HAMPSHIRE,2010,7,Heat,Heat index values at the Nashua Boire Field (K...
1,211550,NEW HAMPSHIRE,2010,1,Heavy Snow,Four to eight inches fell across eastern Hills...
2,260014,NEW HAMPSHIRE,2010,10,Strong Wind,"In Manchester, firefighters responded to about..."
3,254779,NEW HAMPSHIRE,2010,7,Heat,Heat index values at the Manchester Airport (K...
4,273769,NEW HAMPSHIRE,2010,12,Winter Storm,Snowfall totals of 6 to 10 inches were observe...

In [15]:
#push new sliced df to csv file
sliced.to_csv('Resources/sampledata.csv')