In [4]:
import sys
sys.path.append('../../')
import pandas as pd
import sqlalchemy
import pymongo
import csv
import plotly.express as px
from pymongo import MongoClient
from flask import Flask, jsonify, render_template

In [5]:
ten=pd.read_csv('Resources/StormEvents_details-2010.csv')
eleven=pd.read_csv('Resources/StormEvents_details-2011.csv')
twelve=pd.read_csv('Resources/StormEvents_details-2012.csv')
thirteen=pd.read_csv('Resources/StormEvents_details-2013.csv')
forteen=pd.read_csv('Resources/StormEvents_details-2014.csv')
fifteen=pd.read_csv('Resources/StormEvents_details-2015.csv')
sixteen=pd.read_csv('Resources/StormEvents_details-2016.csv')
seventeen=pd.read_csv('Resources/StormEvents_details-2017.csv')
eighteen=pd.read_csv('Resources/StormEvents_details-2018.csv')
ninteen=pd.read_csv('Resources/StormEvents_details-2019.csv')
twenty=pd.read_csv('Resources/StormEvents_details-2020.csv')
twoone=pd.read_csv('Resources/StormEvents_details-2021.csv')

In [6]:
master=pd.concat([ten,eleven,twelve,thirteen,forteen,
fifteen,sixteen,seventeen,eighteen,ninteen,twenty,twoone],ignore_index=True)
print(len(master))
print(master.columns)

743987
Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',
       'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE',
       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH',
       'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE'],
      dtype='object')

In [13]:
sum=pd.read_csv('Resources/DisasterDeclarationsSummaries.csv')
sum.head()
# print(sum.dtypes)

,disasterNumber,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,state,declarationDate,fyDeclared,disasterType,incidentType,title,incidentBeginDate,incidentEndDate,disasterCloseOutDate,declaredCountyArea,placeCode,hash,lastRefresh,id
0,9,0,1,1,1,TX,1953-06-19T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-06-19T00:00:00.000Z,1953-06-19T00:00:00.000Z,1958-01-01T00:00:00.000Z,NaN,NaN,fbad8c1c133e488d24ad7964b1661dc860594eff,2021-07-13T23:01:14.056Z,60c3b7a8a0ee349d710252f0
1,4,0,1,1,1,MI,1953-06-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-06-02T00:00:00.000Z,1953-06-02T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,29e38924c7e06fde09ddf800e7457baa77ff5b59,2021-07-13T23:01:14.055Z,60c3b7a8a0ee349d710252ec
2,1,0,1,1,1,GA,1953-05-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-05-02T00:00:00.000Z,1953-05-02T00:00:00.000Z,1954-06-01T00:00:00.000Z,NaN,NaN,2afd49ff222cb33a37781add598474e29d7af924,2021-07-13T23:01:14.054Z,60c3b7a8a0ee349d710252eb
3,7,0,1,1,1,MA,1953-06-11T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-06-11T00:00:00.000Z,1953-06-11T00:00:00.000Z,1956-06-01T00:00:00.000Z,NaN,NaN,4a0be53cbc11fe04fb3c6a5b191c13098285fd2b,2021-07-13T23:01:14.056Z,60c3b7a8a0ee349d710252f8
4,3,0,1,1,1,LA,1953-05-29T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-05-29T00:00:00.000Z,1953-05-29T00:00:00.000Z,1960-02-01T00:00:00.000Z,NaN,NaN,86f458aa65c231dce943ea1c784113c7f640704f,2021-07-13T23:01:14.055Z,60c3b7a8a0ee349d710252fe

In [11]:
master.to_csv('Resources/master.csv')

In [14]:
master_clean=master[['EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE','DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY','BEGIN_RANGE','BEGIN_LOCATION', 'END_RANGE','END_LOCATION','EVENT_NARRATIVE', 'DATA_SOURCE']]
master_clean.to_csv('Resources/master_clean.csv')

In [23]:
sum_clean=sum[['disasterNumber','state', 'declarationDate',
       'fyDeclared', 'disasterType', 'incidentType', 'title',
       'incidentBeginDate', 'incidentEndDate','id']]
sum_clean.to_csv('Resources/sum_clean.csv')

In [20]:
print(master_clean.dtypes)

EPISODE_ID           int64
EVENT_ID             int64
STATE               object
STATE_FIPS           int64
YEAR                 int64
MONTH_NAME          object
EVENT_TYPE          object
DAMAGE_PROPERTY     object
DAMAGE_CROPS        object
SOURCE              object
MAGNITUDE          float64
MAGNITUDE_TYPE      object
FLOOD_CAUSE         object
CATEGORY           float64
BEGIN_RANGE        float64
BEGIN_LOCATION      object
END_RANGE          float64
END_LOCATION        object
EVENT_NARRATIVE     object
DATA_SOURCE         object
dtype: object
disasterNumber        int64
state                object
declarationDate      object
fyDeclared            int64
disasterType         object
incidentType         object
title                object
incidentBeginDate    object
incidentEndDate      object
id                   object
dtype: object

In [21]:
print(sum_clean.dtypes)

disasterNumber        int64
state                object
declarationDate      object
fyDeclared            int64
disasterType         object
incidentType         object
title                object
incidentBeginDate    object
incidentEndDate      object
id                   object
dtype: object

In [22]:
sum_clean.head()

,disasterNumber,state,declarationDate,fyDeclared,disasterType,incidentType,title,incidentBeginDate,incidentEndDate,id
0,9,TX,1953-06-19T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-06-19T00:00:00.000Z,1953-06-19T00:00:00.000Z,60c3b7a8a0ee349d710252f0
1,4,MI,1953-06-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-06-02T00:00:00.000Z,1953-06-02T00:00:00.000Z,60c3b7a8a0ee349d710252ec
2,1,GA,1953-05-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-05-02T00:00:00.000Z,1953-05-02T00:00:00.000Z,60c3b7a8a0ee349d710252eb
3,7,MA,1953-06-11T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-06-11T00:00:00.000Z,1953-06-11T00:00:00.000Z,60c3b7a8a0ee349d710252f8
4,3,LA,1953-05-29T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-05-29T00:00:00.000Z,1953-05-29T00:00:00.000Z,60c3b7a8a0ee349d710252fe

In [24]:
master_clean=master[['EVENT_ID', 'STATE', 
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE','DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'FLOOD_CAUSE', 'CATEGORY','BEGIN_RANGE','BEGIN_LOCATION', 'END_RANGE','END_LOCATION','EVENT_NARRATIVE']]
master_clean.to_csv('Resources/master_clean.csv')

In [25]:
print(master_clean.dtypes)

EVENT_ID             int64
STATE               object
YEAR                 int64
MONTH_NAME          object
EVENT_TYPE          object
DAMAGE_PROPERTY     object
DAMAGE_CROPS        object
SOURCE              object
FLOOD_CAUSE         object
CATEGORY           float64
BEGIN_RANGE        float64
BEGIN_LOCATION      object
END_RANGE          float64
END_LOCATION        object
EVENT_NARRATIVE     object
dtype: object